.search {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem auto;
  border: 1px solid white;
  border-radius: calc(0.5rem + 1px);
  padding: 0.5rem;

  input {
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-size: 1rem;
  }

  &-icon {
    font-size: 2rem;
    color: white;
  }
}
