.videos {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem; /* Adjust as needed */
}

// @media (max-width: 800px) {
//   .videos {
//     grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
//   }
// }

// @media (max-width: 500px) {
//   .videos {
//     grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
//   }
// }
